.catalog {
    background-color: #f9f9f9;

    .catalog__title {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 60px;
    }

    .catalog__container {
        height: 100%;
        margin: 0 auto;
        max-width: 1170px;
        display: flex;
        justify-content: center;

        @include tablets() {
            padding: 0 20px;
        }
    }

    .catalog__filter {
        height: 845px;
        background: #ffffff;
        margin-right: 20px;
        width: 400px;

        .filter__form {
            padding: 10px 0 10px 25px;
            display: flex;
            flex-direction: column;
        }

        .form__type {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .type__block {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .type__block--inp {
            flex-direction: row;

            .block__inp {
                width: 110px;
                margin-right: 20px;
                border: 2px solid #dad9d9;
                border-radius: 5px;
            }
        }

        .block__item {
            display: flex;
            align-items: center;
        }

         label {
             margin: 0 0 5px 10px;
         }

        p {
            margin: 20px 0 10px 0;
            font-size: 20px;
            font-weight: 400;
        }

        .form__btns {
            display: flex;
            margin-top: 30px;
        }

        .btns__show {
            border: 2px solid #dad9d9;
            border-radius: 4px;
            width: 117px;
            height: 54px;
            color: #eb7c0e;
            cursor: pointer;
        }

        .btns__delete {
            color: #eb7c0e;
            border: none;
            background: none;
            width: 117px;
            height: 54px;
            cursor: pointer;
        }
    }

    .catalog__products {
        
        .products__list {
            display: flex;

            .products__item {
                display: flex;
                height: 430px;
                margin-top: 0;
                margin-bottom: 35px;
                margin-right: 10px;;

                &:nth-child(3) {
                    margin-right: 0;
                }

                &:nth-child(6) {
                    margin-right: 0;
                }

                &:nth-child(4) {
                    margin-right: 15;
                }
            }

            .item__img {
                margin-bottom: 25px;
            }

            .item__btn {
                border: 2px solid #eb7c0e;
                border-radius: 4px;
                width: 135px;
                height: 54px;
                color: #eb7c0e;
                background: none;
                cursor: pointer;
            }

            .item__name {
                font-size: 20px;
            }

            .item__price {
                font-size: 28px;
            }

            .item__kol {
                font-size: 16px;
            }
        }
    }
}

.pagination {
    background-color: #f9f9f9;
    
    .pagination__container {
        height: 100%;
        margin: 0 auto;
        width: 1170px;
        max-width: 1170px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @include tablets() {
            padding: 0 20px;
        }
    }

    .pagination__list {
        display: flex;
        list-style: none;
        padding: 10px 0 10px 0;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        .pagination__item {
            margin-right: 10px;
            padding: 14px;

            &--active {
                border: 2px solid #dad9d9;
                border-radius: 4px;
                
                a {
                    color: #eb7c0e;
                }
            }
        }

        a {
            color: black;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.fire {
    background-color: #f9f9f9;

    .fire__container {
        background: #ffffff;
        border-radius: 10px;
        height: 100%;
        margin: 0 auto;
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 20px;

        @include tablets() {
            padding: 0 20px;
        }
    }

    .fire__title {
        margin-top: 40px;
        text-align: center;

        @include phones() {
            margin-bottom: 20px;
        }
    }

    .fire__text {
        max-width: 970px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 50px;
        }
    }
}