.contacts {
    padding-top: 90px;
    background: #f9f9f9;

    .contacts__container {
        height: 100%;
        margin: 0 auto;
        max-width: 1170px;
        display: flex;
        flex-wrap: wrap;

        @include tablets() {
            padding: 0 20px;
            justify-content: center;
            align-items: center;
        }
    }
}

.contacts__last {
    width: 40%;

    @include tablets() {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .last__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .last__list {
        list-style: none;
        padding: 0;
    }

    .last__item {
        width: 100%;
        background: white;
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 13px;
            color: #242121;
            margin: 0;
            margin-right: 15px;
        }

        a {
            text-decoration: underline;
            font-size: 20px;
            color: #eb7c0e;
        }
    }
}

.contacts__map {
    width: 60%;
    margin-left: 50px;

    @include tablets() {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .map__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .map__map {
        width: 100%;
        height: 425px;
        border-radius: 10px;
        background-color: #f7b675;
    }
}