.header__container {
    width: 1170px;
    margin: 0 auto;
}

.header__top {
    margin-bottom: 40px;
}

.header__logo {
    color: #242121;
    font-size: 25px;
    width: 115px;
    line-height: 24px;
}

.header__clock {
    display: flex;

    .clock__img {
        width: 55px;
        height: 55px;
    }

    p {
        margin: 0;
        font-size: 13px;
    }
}

.header__phone {
    @extend .header__clock;

    .phone__img {
        width: 55px;
        height: 55px;
    }
}

.header__map {
    @extend .header__clock;

    .phone__img {
        width: 55px;
        height: 55px;
    }
}

.header__list {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;

    li {
        margin-right: 30px;
    }

    a {
        color: black;
        font-size: 14px;
    }
}