<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>
<body>
    <h1 class="hero">Test</h1>

    <script src="./aseets/scripts/main.js"></script>
</body>
</html>